.card {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  justify-self: start;
}

.day span {
  font-size: 56px;
  font-weight: 500;
}

.weekdayMonth {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.weekdayMonth span {
  font-size: 14px;
  line-height: 1.43;
  color: #939cb0;
}

.main {
  display: grid;
  height: 100%;
  grid-template-columns:
    minmax(50px, 70px) minmax(70px, 100px) minmax(70px, auto)
    repeat(5, minmax(70px, 200px));
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  padding: 0 30px;
  margin-top: -70px;
}

.title {
  text-align: center;
  color: #939cb0;
  font-size: 14px;
}
.dayPart {
  color: #939cb0;
  font-size: 12px;
}

.tempWrap {
  display: flex;
  flex-direction: column;
  justify-self: start;
}

.temp span::after {
  content: '\00B0';
}

.icon,
.icon img {
  width: 50px;
  height: 50px;
}

.condition {
  text-align: center;
}

.unit {
  font-size: 14px;
  opacity: 0.7;
}

@media screen and (max-width: 780px) {
  .title {
    font-size: 13px;
  }
}

@media screen and (max-width: 700px) {
  .pressure,
  .humidity {
    display: none;
  }

  .main {
    grid-template-columns:
      minmax(50px, 70px) minmax(70px, 100px) minmax(70px, auto)
      repeat(3, minmax(70px, 200px));
  }
}

@media screen and (max-width: 600px) {
  .condition {
    display: none;
  }
  .main {
    grid-template-columns:
      minmax(50px, 70px) minmax(70px, 100px)
      repeat(3, minmax(70px, 200px));
  }
}

@media screen and (max-width: 500px) {
  .precipitation {
    display: none;
  }

  .main {
    padding: 0;
    grid-template-columns:
      minmax(50px, 70px) minmax(70px, 100px)
      repeat(2, minmax(70px, 200px));
    margin-top: -60px;
  }

  .tempWrap {
    justify-self: center;
  }

  .day span {
    font-size: 36px;
  }

  .weekdayMonth span {
    font-size: 11px;
    line-height: unset;
  }

  .icon,
  .icon img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 330px) {
  .windchill {
    display: none;
  }
  .main {
    padding: 0;
    grid-template-columns:
      minmax(50px, 70px) minmax(70px, 100px)
      minmax(70px, 200px);
  }
}
