.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #080808;
  background: #eceef2;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 20px;
}
