.searchCity {
  position: relative;
  max-width: 400px;
  width: 100%;
  z-index: 10;
}

.searchCityInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
  background: #eceef2;
  border-radius: 8px;
  padding: 7px 15px;
}

.searchCityInput input {
  width: 100%;
}

.searchCityInput input::placeholder {
  font-size: 15px;
}

.suggestions {
  position: absolute;
  max-width: 400px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 0 0 8px 8px;
  padding: 10px 5px;
  box-shadow: 0px 2px 0px 1px rgb(0 0 0 / 8%);
  overflow: hidden;
}

.noResults {
  display: flex;
  align-items: center;
  justify-content: center;
}
